<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{60} %X{sourceThread} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
    <logger name="akka" level="WARN">
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.apache.kafka" level="WARN">
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.apache.hadoop" level="WARN">
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.apache.zookeeper" level="WARN">
        <appender-ref ref="console"/>
    </logger>

    <!-- Suppress the irrelevant (wrong) warnings from the Netty channel handler -->
    <logger name="org.apache.flink.shaded.akka.org.jboss.netty.channel.DefaultChannelPipeline" level="ERROR">
        <appender-ref ref="console"/>
    </logger>
</configuration>
